	<script type="text/javascript">
		window.initialData = <%- JSON.stringify(initialData) -%>
	</script>
<%- include('header') -%>

	<div id="root">
		<%- initialDom -%>
	</div>

<%- include('footer') -%>

